*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    background-color: cornflowerblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

header ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
    margin: 10px;
}

header ul li{
    list-style: none;
    font-size: 20px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-style: bold;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: 30px auto;
    justify-content: center;
}
.about{
    display: flex;
    align-items:start;
}

.about-text{
    margin: 0;
    padding: 10px;
}

.about-text h2,
.products h2{
    margin-bottom: 30px;
    border-bottom: solid 2px cornflowerblue;
    padding: 10px;
    color: cornflowerblue;
}

.products{
    margin-top: 30px;

}

.products-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
}

.product-card{
    margin: 10px;
    width: 230.75px;
}

.product-card img{
    width: 230.75px;
}

.product-card h3{
    margin-top: 10px;
}

.btn-item{
    background-color: cornflowerblue;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    width: 190px;
    font-size: 20px;
    border: none;
}

@media screen and (min-width: 640px) and (max-width: 1023px){
    header {
        padding: 10px;
        width: 100%;        
        max-width: 100%;     
    }
    .products-card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 1000px;
        background-color: red;
        width: 100%;
    }
}

