*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: cornflowerblue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 100%;
}

header ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
    margin: 10px;
}

header ul li{
    list-style: none;
    font-size: 20px;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-style: bold;
    cursor: pointer;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin: 30px auto;
    justify-content: center;
}

.about{
    display: flex;
    align-items:start;
}

.about-text{
    margin: 0;
    padding: 10px;
}

.about-text h2,
.products h2{
    margin-bottom: 30px;
    border-bottom: solid 2px cornflowerblue;
    padding: 10px;
    color: cornflowerblue;
}

.products{
    margin-top: 30px;

}

.products-card-container{
    display: flex;
    align-items: center;
    width: 1250px;
    
}

.product-card{
    margin: 50px;
    width: 250px;
}

.product-card img{
    width: 250px;
}